*.pyc
*~
__pycache__
*venv
*.sqlite3
.DS_Store
*.pdf
.vscode
django.bat
media
.aws
eb_setenv.bat
.aws
.ebextensions
logs
run
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
